
img{
    width: 100px;
    height: 50px;
}

.creategif{
    background-color: #948686;
    width: 41px;
    position: relative;
    left: 52%;
    border: 1px solid;
    color: black;
    border-radius: 8px;
    padding-left: 4px;
    cursor: pointer;
}

.closeWindow{
    background-color: #948686;
    width: 58px;
    position: relative;
    left: 73%;
    bottom: 35px;
    border: 1px solid;
    color: black;
    border-radius: 8px;
    padding-left: 7px;
    cursor: pointer;
}
article{
    position: absolute;
    height: 332px;
    width: 400px;
    background-color: white;
    top: 400px;
    left: 299px;
    box-shadow: -1px 1px 5px rgb(51 51 51 / 20%);
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

section{
    position: relative;
    left: 10px;
    top: 4px;
    width: 100px;
    border-bottom: 1px solid #F5F5F5;
}